a:link    { font-family: Arial; font-size: 16px; color: #0000FF; text-decoration: none; }
a:visited { font-family: Arial; font-size: 16px; color: #282199; text-decoration: none; }
a:hover   { font-family: Arial; font-size: 16px; color: #A0A000; text-decoration: ; }
